<!DOCTYPE html>
<html>
<head>
    <title>App Battle</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">You</h1>
            <div class="healthbar">
                <div class="healthbar text-center" :style="{width: playerHealth + '%'}" style="background-color: green; margin: 0; color: white;">
                  {{ playerHealth }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">The Bad Guy</h1>

            <div class="healthbar">
                <div class="healthbar text-center" :style="{width: badGuyHealth + '%'}" style="background-color: green; margin: 0; color: white;">
                  {{ badGuyHealth }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameOn">
        <div class="small-12 columns">
            <button id="start-game" @click="start">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="sAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="turns.length > 0">
      <h1 v-show="winner">{{ whoWon }}</h1>
        <div class="small-12 columns">
            <ul>
                <li v-for="turn in turns"
                :class="{'player-turn': turn.isPlayer, 'bad-turn': !turn.isPlayer}">
                  {{ turn.text }}
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>
